node_modules
**/node_modules
dist
**/dist
.next
**/.next
.git
.env
.env.*
**/.env
**/.env.*
coverage
**/coverage
*.log
**/*.log
.DS_Store
**/.DS_Store
**/*.tsbuildinfo
.vscode
.idea
localstack-data
mongo-data
pnpm-lock.yaml
pnpm-workspace.yaml
**/cdk.out
